In [1]:
import mysql.connector

In [2]:
mydb=mysql.connector.connect(
    host='localhost',
    username='root',
    password=''
)

In [3]:
cursor=mydb.cursor()

In [4]:
cursor.execute('use metro_managment')

In [5]:
def newstation(name,id):
    query='insert into stations values(\''+name+'\','+str(id)+');'
    cursor.execute(query)
    mydb.commit()

In [6]:
def updatestation(id1,name2,id2):
    query='update stations set station_name=\''+name2+'\',sid='+str(id1)+' where sid='+str(id2)
    cursor.execute(query)
    mydb.commit()

In [7]:
def addfare(id1,id2,cost):
    query='insert into fare values('+str(id1)+','+str(id2)+','+str(cost)+');'
    cursor.execute(query)
    mydb.commit()

In [8]:
def updatefare(id1,id2,cost):
    query='update fare set cost='+str(cost)+' where to_station_id='+str(id1)+' and from_station_id='+str(id2)
    cursor.execute(query)
    mydb.commit()

In [9]:
def newcard(cid,balance):
    query='insert into card(cid,balance) values('+str(cid)+','+str(balance)+')'
    cursor.execute(query)
    mydb.commit()

In [10]:
def viewcard():
    cursor.execute('select * from card')
    for x in cursor:
        print(x)

In [11]:
def viewstation():
    cursor.execute('select * from stations')
    for x in cursor:
        print(x)

In [12]:
def viewfare():
    cursor.execute('select * from fare')
    for x in cursor:
        print(x)

In [13]:
def addcard(name,card):
    query='select count(*) from card where cid='+str(card)
    cursor.execute(query)
    for x in cursor:
        if(x[0]==0):
            print('Enter correct card details')
            return
        else:
            break
    query='insert into user_card values(\''+name+'\','+str(card)+')'
    cursor.execute(query)
    mydb.commit()

In [14]:
def removecard(name,card):
    query='delete from user_card where Uname=\''+name+'\' and cid='+str(card)
    cursor.execute(query)
    mydb.commit()

In [15]:
def newuser(name,biometric):
    query='insert into user values(\''+name+'\',\''+biometric+'\')'
    cursor.execute(query)
    mydb.commit()

In [16]:
def historyname(name):
    query='select cid,payment_type,amount,entry_id,exit_id from transaction where cid in(select cid from user_card where Uname=\''+str(name)+'\')'
    cursor.execute(query)
    for x in cursor:
        print(x)

In [17]:
def historycard(card):
    query='select cid,payment_type,amount,entry_id,exit_id from transaction where cid in(select cid from user_card where cid='+str(card)+')'
    cursor.execute(query)
    for x in cursor:
        print(x)

In [18]:
def history(name=None,card=None):
    if(card==None):
        historyname(name)
    elif(name==None):
        historycard(card)
    else:
        query='select cid,payment_type,amount,entry_id,exit_id from transaction where cid in(select cid from user_card where cid='+str(card)+' and Uname=\''+str(name)+'\')'
        cursor.execute(query)
        for x in cursor:
            print(x)

In [19]:
def checkbio(name,bio):
    query='select count(*) from user where Uname=\''+name+'\' and biometric=\''+bio+'\''
    cursor.execute(query)
    for x in cursor:
        if(x[0]==0):
            return False
        else:
            return True

In [20]:
def checkcard(name,card):
    query='select count(*) from user_card where Uname=\''+name+'\' and cid='+str(card)
    cursor.execute(query)
    for x in cursor:
        if(x[0]==0):
            return False
        else:
            return True

In [21]:
def topup(card,name,amount,station,biometric,ptype):
    if(checkbio(name,biometric)):
        if(checkcard(name,card)):
            q1='select tid from transaction order by tid desc limit 1'
            cursor.execute(q1)
            tid=0
            for x in cursor:
                tid=x[0]+1
            q1='insert into transaction(tid,cid,Uname,payment_type,amount,entry_id) values('+str(tid)+','+str(card)+',\''+name+'\',\''+ptype+'\','+str(amount)+','+str(station)+')'
            cursor.execute(q1)
            q1='update card set balance=balance+'+str(amount)+' where cid='+str(card)
            cursor.execute(q1)
            mydb.commit()
        else:
            print('Check card number\n')
    else:
        print('Check biometric\n')

In [22]:
def amt(sid1,sid2):
    q1='select cost from fare where to_station_id='+str(sid1)+' and from_station_id='+str(sid2)
    cursor.execute(q1)
    amt=1000
    for x in cursor:
        amt=-1*x[0]
    return amt

In [23]:
def checkfunds(card,amt):
    q1='select balance from card where cid='+str(card)
    cursor.execute(q1)
    bal=0
    for x in cursor:
        bal=x[0]
    if(bal>=50 and bal-amt>=0):
        return True
    return False

In [24]:
def travel(card,name,sid1,sid2,biometric):
    if(checkbio(name,biometric)):
        if(checkcard(name,card)):
            cs=amt(sid1,sid2)
            if(checkfunds(card,cs)):
                q1='select tid from transaction order by tid desc limit 1'
                cursor.execute(q1)
                tid=0
                for x in cursor:
                    tid=x[0]+1
                q1='insert into transaction(tid,cid,Uname,payment_type,amount,entry_id,exit_id) values('+str(tid)+','+str(card)+',\''+name+'\',\'card\','+str(cs)+','+str(sid1)+','+str(sid2)+')'
                cursor.execute(q1)
                q1='update card set balance=balance-'+str(-1*cs)+' where cid='+str(card)
                cursor.execute(q1)
                mydb.commit()
            else:
                print('Insufficienct balance kindly recharge')
        else:
            print('Check card number\n')
    else:
        print('Check biometric\n')

In [25]:
def funds(card):
    q1='select balance from card where cid='+str(card)
    cursor.execute(q1)
    bal=0
    for x in cursor:
        bal=x[0]
        return bal

In [26]:
admin='admin123'
password='pass'

In [27]:
username='admin123'
pas='pass'
if(username==admin and password==pas):
    newstation('RV Collage',5)
    viewstation()
    updatestation(5,'RVC',5)
    viewstation()
    addfare(1,5,25)
    viewfare()
    updatefare(1,3,20)
    viewfare()
    newcard(5641,30)
    viewcard()
viewfare()
addcard('Yashas',5641)
removecard('Vishal',1243)
newuser('Nazi','01011')
history(card=1234)
travel(5641,'Yashas',1,6,'10101')
topup(5641,'Yashas',100,3,'10101','online')
history(card=5641)
history('Yashas')
funds(5641)

('National College', 1)
('Lalbagh', 2)
('South End Circle', 3)
('RV Collage', 5)
('National College', 1)
('Lalbagh', 2)
('South End Circle', 3)
('RVC', 5)
(1, 2, Decimal('10.000'))
(1, 3, Decimal('15.000'))
(1, 5, Decimal('25.000'))
(2, 1, Decimal('10.000'))
(2, 3, Decimal('10.000'))
(3, 1, Decimal('15.000'))
(3, 2, Decimal('10.000'))
(1, 2, Decimal('10.000'))
(1, 3, Decimal('20.000'))
(1, 5, Decimal('25.000'))
(2, 1, Decimal('10.000'))
(2, 3, Decimal('10.000'))
(3, 1, Decimal('15.000'))
(3, 2, Decimal('10.000'))
(1234, Decimal('140.000'), datetime.date(2022, 11, 13), None)
(1243, Decimal('500.000'), datetime.date(2022, 11, 13), None)
(1342, Decimal('75.420'), datetime.date(2022, 11, 13), None)
(5641, Decimal('30.000'), datetime.date(2022, 11, 13), None)
(1, 2, Decimal('10.000'))
(1, 3, Decimal('20.000'))
(1, 5, Decimal('25.000'))
(2, 1, Decimal('10.000'))
(2, 3, Decimal('10.000'))
(3, 1, Decimal('15.000'))
(3, 2, Decimal('10.000'))
(1234, 'cash', Decimal('100.000'), 1, None)
Insufficienct balance kindly recharge
(5641, 'online', Decimal('100.000'), 3, None)
(1243, 'card', Decimal('-10.000'), 2, 1)
(1243, 'card', Decimal('-15.000'), 1, 3)
(1342, 'online', Decimal('50.000'), 2, None)
(5641, 'online', Decimal('100.000'), 3, None)

Decimal('130.000')